<html>
<head>
	<title>CV</title>
	<script src="js/handlebars.js"></script>
	<script src="js/jquery-1.9.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="style/cv.css"></link>
	<meta charset='utf-8'> 
</head>
<body>
	<h1>Hello Handlebars!</h1>
	<div id="replace" />

<script id="entry-template" type="text/x-handlebars-template">
	{{! Handlebars templates look like regular HTML, with embedded handlebars expressions. }}
	{{! A handlebars expression is a {{, some contents, followed by a }}
  <div class="body">
	<h1>Curriculum Vitae for {{fn}} {{ln}}</h1>
	<p>{{intro}}</p>
	<h3>Key Competencies</h3>
	<dl>
		<dt>Database</dt>
		<dd>
			{{#each key.db}}
				<span class="comma-separated">{{this}}</span>
			{{/each}}
		</dd>
	</dl>
  </div>
</script>

<script>
	// json to render
	var tsk = {'_id' : 'tsk',
	  'fn' : 'Tommy', 'ln' : 'Skodje',
	  'intro' : 'Tommy er <b>kjekk og grei</b>.',
	  'key' : {
			'db' : [ 'sql', 'mongoDb', 'jdbc', 'spring' ]
	  }
	};

	// get template and compile it
	var source   = $( "#entry-template" ).html();
	var template = Handlebars.compile( source );

	// evaluate the template against json
	var evaluated	= template( tsk );

	// write result into dom
	$("#replace").html( evaluated );
</script>
	
</body>
</html>
