<html>
<head>
	<title>Mustache</title>
	<script src="js/mustache.js"></script>
	<script src="js/jquery-1.9.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="style/cv.css"></link>
</head>
<body>
	<h1>Hello Mustache!</h1>
	<div id="replace" />

<script>
	var view = {
	  title: "Joe",
	  calc: function () {
			return 2 + 4;
	  }
	};

	var evaluated = Mustache.render("{{title}} spends {{calc}}", view);

	$("#replace").html( evaluated );
</script>
	
</body>
</html>
